
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>aangelogd? : @Request.IsAuthenticated</p>
<p>Ingelogde gebruiker : @User.Identity.Name</p>
<p>Authenticationtype : @User.Identity.AuthenticationType</p>
<p>Is een admin? : @User.IsInRole("admin")</p>
<p>@Html.ActionLink("Userbeheer", "Userbeheer", "User")</p>
<p>@Html.ActionLink("Rolebeheer","Rolebeheer","User")</p>
