@using System.Activities.Statements
@model Cultuurhuis.Models.VoorstellingenInfo
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Het Cultuurhuis <img src="~/Images/voorstellingen.png"
                             alt="voorstellingen"/>
    </h1>
</div>
@if (Model.Genre == null)
{
    <p class="lead alert alert-info">Kies een voorstellingsgenre</p>
}
<ul class="nav nav-pills">
    @foreach (var genre in Model.GenreList)
    {
        var url = Url.Action("Index", "Home", new {id = genre.GenreNr});
        if (Model.Genre != null && Model.Genre.GenreNaam.Equals(genre.GenreNaam))
        {
            <li class="active">
                <a href="@url">@genre.GenreNaam</a>
            </li>
        }
        else
        {
            <li>
                <a href="@url">@genre.GenreNaam</a>
            </li>
        }
    }
</ul>
@if (Model.Genre != null)
{
    <br/>
    if (Model.VoorstellingList.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Titel</th>
                <th>Uitvoerders</th>
                <th>Prijs</th>
                <th>Vrije plaatsen</th>
                <th>Reserveren</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var voorstelling in Model.VoorstellingList)
            {
                <tr>
                    <td class="col-md-2">@Html.DisplayFor(m => voorstelling.Datum)</td>
                    <td class="col-md-3">@voorstelling.Titel</td>
                    <td class="col-md-2">@voorstelling.Uitvoerders</td>
                    <td class="col-md-1">@Html.DisplayFor(m => voorstelling.Prijs)</td>
                    <td class="col-md-2">@voorstelling.VrijePlaatsen</td>
                    @if (voorstelling.VrijePlaatsen > 0)
                    {
                        var urlReserveren = Url.Action("Reserveren", "Home", new {id = voorstelling.VoorstellingsNr});
                        <td class="col-md-2"><a href="@urlReserveren">Reserveren</a></td>
                    }
                    else
                    {
                        <td class="col-md-2"><span class="label label-danger">uitverkocht</span></td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="alert alert-warning">
            Er zijn geen voorstellingen van dit genre beschikbaar.
        </p>
    }
}
