@model IEnumerable<MVC_Tuincentrum.Models.Plant>
@{
    ViewBag.Title = "FindPlantenBySoortNaam";
}
<h2>FindPlantenBySoortNaam</h2>
<table>
    <thead>
    <tr>
        <th>Naam</th>
        <th>Soort</th>
        <th>Leverancier</th>
        <th>Kleur</th>
        <th>Prijs</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Naam)</td>
            <td>@Html.DisplayFor(modelItem => item.Soorten.Naam)</td>
            <td>@Html.DisplayFor(modelItem => item.Leveranciers.Naam)</td>
            <td>@Html.DisplayFor(modelItem => item.Kleur)</td>
            <td>@Html.DisplayFor(modelItem => item.VerkoopPrijs)</td>
        </tr>
    }
    </tbody>
</table>