@model IEnumerable<MVC_Tuincentrum.Models.Plant>
@{
    ViewBag.Title = "PrijsLijst";
}
<h2>PrijsLijst</h2>
<table class="table">
    <thead>
    <tr>
        <th>
             @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.VerkoopPrijs) (BTW @ViewBag.Btw)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @if (ViewBag.Btw == "inclusief")
                {
                    var prijs = item.VerkoopPrijs*1.21m;
                    @Html.DisplayFor(modelItem => prijs)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.VerkoopPrijs)
                }
            </td>
        </tr>
    }
    </tbody>
</table>